<% content_for :title, "About" %>
	<div id="wrapper4">
		<div id="footer" class="container">
			<div>
				<header class="title">
					<h2>Get in touch</h2>
					<span class="byline">Yes, we're all about social media</span> </header>
				<p>Follow the team at Twelve-Notes.net — like us, friend us, let's interact!</p>
				<ul class="contact">
					<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="icon icon-facebook"><span></span></a></li>
					<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
					<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
				</ul>
			</div>
		</div>
	</div>
