<% content_for :title, "Contact" %>
		<div id="wrapper2">
			<div id="newsletter" class="container">
				<div class="title">
					<h2>Newsletter Signup</h2>
					<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
				<div class="content">
					<form method="post" action="#">
						<div class="row half">
							<div class="6u">
								<input type="text" class="text" name="name" placeholder="Name" />
							</div>
							<div class="6u">
								<input type="text" class="text" name="email" placeholder="Email" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<textarea name="message" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="12u"> <a href="#" class="button submit">Send Message</a> </div>
						</div>
					</form>
				</div>
			</div>
		</div>