<% content_for :title, "Exercises" %>
<div id="wrapper3">
	<div id="section-white" class="container">
		<div class="title">
			<h2>Exercises</h2>
			<span class="byline">Various practice exercises you can try</span>
		</div>
		<div class="content">
			<p><%= link_to "Twelve Notes Exercise", twelve_notes_path, title: "Twelve Notes" %></p>
			<p><%= link_to "7th Chord Inversions", "#", title: "7th Chord Inversions" %></p>
			<p><%= link_to "String-Skipping Arpeggios", "#", title: "String-Skipping Arpeggios" %></p>
			<p>More exercises coming soon... No, really...</p>
		</div>
	</div>
</div>
