<div id="wrapper3">
	<div id="section-white" class="container">
		<div class="title">
			<h2>Welcome to Twelve-Notes.net</h2>
			<span class="byline">musicians practice resource</span> </div>
		<div class="content">
			<p>Dive right in... Check out the <%= link_to "Twelve Notes exercise", twelve_notes_path %>!</p>
		</div>
	</div>
</div>
