<% content_for :title, "Links" %>
<div id="wrapper3">
	<div id="section-white" class="container">
		<div class="title">
			<h2>Links</h2>
			<span class="byline">Mauris vulputate dolor sit amet nibh</span> </div>
		<div class="content">
			<p>This is static content in the links.html.erb view.</p>
			<p>Links coming soon... No, really...</p>
		</div>
	</div>
</div>
