// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_header {
	font-weight: bold
}

.action_links {
	font-size: small;
}

.users_container {
  width: 600px;
  padding:0;
  display: table;
  border: 1px solid black;
}

.users_row  {
  display: table-row;
}

.users_cell {
  padding: 10px;
  width:150px;
  display: table-cell;
  border-right: 1px solid black;
}

.users_cell_end {
  padding: 10px;
  width: 150px;
  display: table-cell;
}

